#过滤各种不需要的文件
*.exe
*.dll

*.psi
*.png
*.fnt
*.oft
*.otf

*.wav
*.ogg
*.mp3

*.zip
*.bat
*.luastg
*.luastg.bak.*

#doc不需要
/doc/*
#文档文件夹
/src/*
#编辑器不需要
/editor/*
#不需要tools文件夹的内容
/tools/*

#log文件不需要
/game/log.txt
/game/sp_log.txt

#不需要mod文件夹的内容
/game/mod/*
#不需要rep文件夹的内容
/game/replay/*
#不需要score文件夹的内容
/game/score/*
#不需要snapshot文件夹的内容
/game/snapshot/*
#不需要Library文件夹的内容
/game/Library/*

#雀哥nb！
/editorSharp/*

/.idea/*
LuaSTG-LuaData.iml
LuaSTG-CommonData.iml
